@import '../../styles/global.scss';

.Task {
  display: flex;
  justify-content: space-between;
}

.Task__active, .Task__done {//one class
  line-height: 1.7em;
  font-family: $font-two;
}

.Task__done {
  text-align: left;
}

.Task__small {
  font-size: 0.8em;
  flex-basis: 100%;
}

.Task__btn-done { //the same style with AddTask btn
  padding: 3px 10px;
  margin: 0 7px;
  height: 20px;
  border: none;
  background-color: $color-four;
  box-shadow: 2px 2px 1px darken($color-one, 50%);
  border-radius: $radius;
  text-transform: uppercase;
  font-size: 10px;
  &:hover {
    box-shadow: 2px 2px 1px $color-two;
    color: $color-two;
    cursor: pointer;
  }
}

.Task__btn-delete {
  height: 20px;
    width: 20px;
    border: none;
    background-color: $color_four;
    border-radius: $radius;
    box-shadow: 2px 2px 1px darken($color-one, 50%);
    &:hover {
      cursor: pointer;
      box-shadow: 2px 2px 1px $color-two;
      color: $color-two;
    }
}
