@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:wght@400;700&display=swap");

$color-one: #f8efda;
$color-two: #c4484e;
$color-three:#46080e;
$color-four: #fff;
$color-five: #7f8c8d;
$font-one: 'Roboto', sans-serif;
$font-two: 'rchitects Daughter', cursive;
$radius: 5px;


