@import './styles/global.scss';


.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 600px;
  height: 670px;
  border-radius: 10px;
  overflow-y: scroll;
  background-color: $color-one;
  box-shadow: $shadow-three;
}

.App__title {
  margin-bottom: 15px;
  font-family: $font-one;
  font-size: 2em;
}

::-webkit-scrollbar {
  border-radius: $radius;
  background-color: $color-one
}

::-webkit-scrollbar-thumb {
  border-radius: $radius;
  background-color: darken($color-two, 5%);
}
::-webkit-scrollbar-track {
  border-radius: $radius;
  background-color: darken($color-one, 15%);
}

