@import '../../styles/global.scss';

.TaskList__active {
  border-bottom: 2px solid $color-two;
  //background-color: darken($color-four,4%);
  box-shadow:  2px 2px 2px $color-one;
  //border-radius: $radius;
}

.TaskList__active, .TaskList__done {
  padding: 10px;
}

.TaskList__title-active, .TaskList__title-done {
  font-size: 1.5em;
  //padding: 5px;
  margin: 5px;
}
