@import '../../styles/global.scss';

.TaskList__active {
  border-bottom: 2px solid $color-two;
  padding: 10px 5px 18px 5px;
}

.TaskList__done {
  padding: 10px 5px;
}

.TaskList__title-active {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.TaskList__title-done {
  font-size: 1.2em;
  margin: 10px 0;
}
